
<div class="jumbotron" >
    <h1 class="display-3"> Bienvenue sur EventbtrTHP </h1>
    <br>
    <button class="button">

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
    </svg>

    <div class="text">
    <strong><%= link_to 'Crée ton event', new_event_path, class: "nav-link" %></strong>
    </div>
</button>
<br><br><br>
</div>
<br>


<div class="row justify-content-center text-center container-fluid">

<h2><p text-center>Les event à venir</p></h2>


<% @event.each do |event| %>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="col">
            <div class="card">
            <div class="card-body">
                <h5><strong><%= link_to event.title, event_path(event), class: "card-title" %></strong></h5>
                <p class="card-text"><%= event.location %> // <%= event.start %></p>
                </div>
            </div>
        </div>
    </div>
    <br>
<% end %>
</div>

</div>
